<div class="py-4">
  <form class="w-75 m-auto " (ngSubmit)="handleForm(resetForm)" [formGroup]="resetForm">
    <h2 class="display-4 text-main mb-3">Reset Password : </h2>
    <div class="wave-group my-3">
      <input  type="email" class="input" formControlName="email">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">E</span>
        <span class="label-char" style="--index: 1">m</span>
        <span class="label-char" style="--index: 2">a</span>
        <span class="label-char" style="--index: 3">i</span>
        <span class="label-char" style="--index: 4">l</span>
      </label>
      <div class="alert alert-danger mt-2" *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.dirty">
        <p *ngIf="resetForm.get('email')?.getError('required')" class="m-0 p-0">Email is required</p>
        <p *ngIf="resetForm.get('email')?.getError('email')" class="m-0 p-0">Email not valid</p>
      </div>
    </div>

    <div class="wave-group my-3">
      <input  type="password" class="input" formControlName="newPassword">
      <span class="bar"></span>
      <label class="label">
        <span class="label-char" style="--index: 0">N</span>
        <span class="label-char" style="--index: 1">e</span>
        <span class="label-char" style="--index: 2">w</span>
        <span class="label-char" style="--index: 3">P</span>
        <span class="label-char" style="--index: 4">a</span>
        <span class="label-char" style="--index: 5">s</span>
        <span class="label-char" style="--index: 6">s</span>
        <span class="label-char" style="--index: 7">w</span>
        <span class="label-char" style="--index: 8">o</span>
        <span class="label-char" style="--index: 9">r</span>
        <span class="label-char" style="--index: 10">d</span>
      </label>
      <div class="alert alert-danger mt-2" *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.dirty">
        <p *ngIf="resetForm.get('newPassword')?.getError('required')" class="m-0 p-0">Password is required</p>
        <p *ngIf="resetForm.get('newPassword')?.getError('pattern')" class="m-0 p-0">Password must start with upperCase and many numbers</p>
      </div>
    </div>

    <button class="cssbuttons-io-button " type="submit" [disabled]="resetForm.invalid"> <span *ngIf="!isLoading">Reset Password</span>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
      </div>
      <i *ngIf='isLoading' class="fa-solid fa-spinner fa-spin"></i>
    </button>
  </form>
</div>
