<div class="row gx-0 py-5 rounded-3">
  <div class="col-md-12 mx-auto rounded-3">
    <owl-carousel-o  [options]="customOptions" class="rounded-3">
      <ng-template carouselSlide>
        <img height="400" src="./assets/slider-image-3.jpeg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img height="400" src="./assets/slider-image-2.jpeg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img height="400" src="./assets/slider-image-1.jpeg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img height="400" src="./assets/grocery-banner-2.jpeg" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- <div class="col-md-3">
    <img height="200" class="w-100" src="./assets/grocery-banner.png" alt="">
    <img height="200" class="w-100" src="./assets/grocery-banner-2.jpeg" alt="">
  </div> -->
</div>
